.breadcrumb-holder {
    padding-bottom: 10px;
    padding-bottom: 15px;
}

.breadcrumb-holder li {
    font-size: .75rem;
    font-style: italic;
}

.title-name {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}